.login-container {
  min-height: 100vh;
  background-color: #f3f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 450px;
  background-color: white;
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 2px 10px
    rgba(0, 0, 0, 0.08);
}

.login-logo {
  color: #6366f1;
  font-size: 56px;
  margin-bottom: 12px;
}

.login-description {
  color: #64748b;
  font-size: 20px;
  margin-bottom: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.input-group label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.input-group input {
  height: 55px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  padding-left: 15px;
  font-size: 16px;
}

.login-button {
  height: 55px;
  border: none;
  border-radius: 8px;
  background-color: #6366f1;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.error-message {
  color: red;
  margin-top: 15px;
}